.main {
  display: flex;
  overflow: hidden;
  width: 200vw;
  height: 100%;
  position: relative;
}

.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: #090318;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  transition-delay: 0.2s;
}
.loading-wrap.hidden {
  opacity: 0;
}
.loading-wrap .loading-logo {
  width: 250px;
  margin-bottom: 30px;
  opacity: 0.2;
  transition: all 0.3s ease;
}
.loading-wrap .loading-logo.hidden {
  transform: translateY(-20px);
  opacity: 0;
}
.loading-wrap .process-wrap {
  width: 100%;
  max-width: 250px;
  height: 6px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.loading-wrap .process-wrap.hidden {
  transform: translateY(-40px);
  opacity: 0;
}
.loading-wrap .process-wrap .process-cur {
  height: 100%;
  width: 0%;
  background-color: #ffad4a;
}
.main-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: transform 2.82s ease-out;
}

.main-wrapper.active-form {
  transform: translateX(
    calc(
      -100 / (var(--transition-unit) * 2 + 2) * (
          var(--transition-unit) * 2 + 1
        ) * 1%
    )
  );
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;
  height: var(--header-height);

  position: relative;
  z-index: 1000;
}

/** CSS on hero section START **/

.sc-main {
  --bg-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  margin: 0;
  height: 100%;
  width: 100vw;
  position: relative;

  background-image: var(--bg-overlay), url('../assets/background-image.webp');
  background-color: var(--black-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  transition: transform 0.5s;
}

.sc-main.transition {
  transform: scale(0.97);
}

.hero-bg {
  display: inline-block;
  width: 100%;
  height: calc(218 / 1920 * 100%);
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 94.95%
  );
}

.hero-wrapper {
  height: calc(100% - var(--header-height));
  position: relative;
  z-index: 5;
}

.hero-title-wrapper {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-align: center;
}

.wrapper {
  overflow: hidden;
}

.wrapper > span {
  display: inline-block;
  white-space: nowrap;
}

.hero-bottom-wrapper {
  width: calc(643 / 1920 * 100%);
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
}

.hero-img-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  transform: translateX(-50%);
}

.hero-img {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 100%;
}

.hero-bubble {
  position: absolute;
  top: 4.69%;
  width: 57.23%;
}

.hero-bubble.right {
  right: 24%;
}

.hero-bubble.left {
  left: -80%;
  transform: scale(0);
}

.hero-bubble > img {
  width: 100%;
}

.hero-bubble > .text-bubble {
  position: absolute;
  top: 31.32%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black-color);
  white-space: nowrap;
}

.hero-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: absolute;
  bottom: 70px;
  z-index: 30;
}

.ele-group {
  position: relative;
  z-index: 2;
}

.ele-item {
  position: fixed;
  top: var(--top);
  left: var(--left, auto);
  right: var(--right, auto);
  width: var(--size, auto);
  opacity: 0;
  transform: scale(0);
}

.ele-item.right {
  transform-origin: -200% 200%;
}

.ele-item.left {
  transform-origin: 200% 200%;
}

.ele-item img {
  width: 100%;
  height: 100%;
}

.ray-group {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
}

.ray-group .ray {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 100%;
  height: calc(100% / 6);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.036) 50%,
    rgba(255, 255, 255, 0.0915) 100%
  );
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  transform-origin: right;
  opacity: 0;
}

.ray-group .ray:nth-child(1) {
  transform: rotate(calc(360deg / 24 * 1));
}
.ray-group .ray:nth-child(2) {
  transform: rotate(calc(360deg / 24 * 2));
}
.ray-group .ray:nth-child(3) {
  transform: rotate(calc(360deg / 24 * 3));
}
.ray-group .ray:nth-child(4) {
  transform: rotate(calc(360deg / 24 * 4));
}
.ray-group .ray:nth-child(5) {
  transform: rotate(calc(360deg / 24 * 5));
}
.ray-group .ray:nth-child(6) {
  transform: rotate(calc(360deg / 24 * 6));
}
.ray-group .ray:nth-child(7) {
  transform: rotate(calc(360deg / 24 * 7));
}
.ray-group .ray:nth-child(8) {
  transform: rotate(calc(360deg / 24 * 8));
}
.ray-group .ray:nth-child(9) {
  transform: rotate(calc(360deg / 24 * 9));
}
.ray-group .ray:nth-child(10) {
  transform: rotate(calc(360deg / 24 * 10));
}
.ray-group .ray:nth-child(11) {
  transform: rotate(calc(360deg / 24 * 11));
}
.ray-group .ray:nth-child(12) {
  transform: rotate(calc(360deg / 24 * 12));
}
.ray-group .ray:nth-child(13) {
  transform: rotate(calc(360deg / 24 * 13));
}
.ray-group .ray:nth-child(14) {
  transform: rotate(calc(360deg / 24 * 14));
}
.ray-group .ray:nth-child(15) {
  transform: rotate(calc(360deg / 24 * 15));
}
.ray-group .ray:nth-child(16) {
  transform: rotate(calc(360deg / 24 * 16));
}
.ray-group .ray:nth-child(17) {
  transform: rotate(calc(360deg / 24 * 17));
}
.ray-group .ray:nth-child(18) {
  transform: rotate(calc(360deg / 24 * 18));
}
.ray-group .ray:nth-child(19) {
  transform: rotate(calc(360deg / 24 * 19));
}
.ray-group .ray:nth-child(20) {
  transform: rotate(calc(360deg / 24 * 20));
}
.ray-group .ray:nth-child(21) {
  transform: rotate(calc(360deg / 24 * 21));
}
.ray-group .ray:nth-child(22) {
  transform: rotate(calc(360deg / 24 * 22));
}
.ray-group .ray:nth-child(23) {
  transform: rotate(calc(360deg / 24 * 23));
}
.ray-group .ray:nth-child(24) {
  transform: rotate(calc(360deg / 24 * 24));
}

/** CSS on hero section START **/

/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */

/** CSS on page transition START **/

.hero-slide {
  width: var(--transition-width);
  height: 100%;
  background-image: url('../assets/transition-img.webp');
  background-position: 0% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-slide._2 {
  background-position: 100% 50%;
}

/** CSS on page transition END **/

/** CSS on contact page START **/

.main-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(calc(100vh - 150px));
  height: max(calc(100vh - 150px));
  text-align: center;
  margin: 0 auto;
}

.bg-main-form {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-main-form > img {
  width: 100%;
  height: 100%;
}

.form-ele-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-ele-item {
  position: absolute;
  z-index: 100;
  top: var(--top, auto);
  left: var(--left, auto);
  right: var(--right, auto);
  bottom: var(--bottom, auto);
  width: var(--size, auto);
}

.form-ele-item img {
  width: 100%;
}

.form-title {
  text-align: center;
}

.form-sub-title {
  max-width: 510px;
  text-align: center;
  margin-top: 36px;
  opacity: 0.8;
}

form.form {
  margin-top: 60px;
  position: relative;
  z-index: 30;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 12px;
}

.btn-submit {
  --skew-btn: skew(0);
  --skew-btn-text: skew(0);
  margin-top: 16px;
  background-color: var(--main-color);
  width: max-content;
}

.btn-submit:hover {
  background-color: #f09529;
}

/** CSS on contact page END **/
/* .sc-main {
  display: none;
} */
